select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../assets/select.svg');
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    cursor: pointer;
}

select:disabled {
    background-image: none;
    cursor: not-allowed;
}